@font-face { 
    font-family: 'Bold';
    src: url('/font/Montserrat-Bold.ttf'); 
  }

  @font-face { 
    font-family: 'Regular';
    src: url('/font/Montserrat-Regular.ttf'); 
  }


:root {
	--W: #FFFFFF;
	--S: #000000;
	--R: #F97365;
	--BG: #303D4E;
   
	;
}

* {
	margin: 0;
	padding: 0;
}

html {
	scroll-behavior: smooth;
	display: flex;
	flex-direction: column;
}

body {
	flex: 1;
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	margin: 0;
}

.navbar {
	background-color: var(--W);
	display: flex;
	height: 80px;
	align-items: center;
}

.logo {
	width: 242px;
	height: 37px;
	justify-content: space-between;
	padding: 0 61.5px;
}

.nav-liste {
	position: relative;
	justify-content: space-between;
	padding: 0 33.6px;
	display: flex;
	list-style-type: none;
	text-transform: uppercase;
	gap: 31.5px;
}

nav a {
	text-decoration: none;
	color: var(--S);
	font-family: 'Bold';
	font-size: 18px;
}

.rechts {
	justify-content: space-between;
	padding: 0 22px;
	display: flex;
}

.input {
	font-family: "Regular";
	padding: 8px;
	font-size: 16px;
	border: none;
	border-bottom: 1px solid #000;
}

.lupe-icon {
	width: 20px;
	height: 20px;
	cursor: pointer;
}

.suche {
	position: relative;
	display: flex;
	align-items: center;
}

.input:focus {
	outline: none;
	border-bottom: 2px solid #000;
}

.btn {
	background: none;
	border: none;
	color: var(--S);
	cursor: pointer;
	font-size: 26px;
}

.top {
	height: 1909.44px;
	background-repeat: no-repeat;
	background-image: url(/img/Gruppe\ maskieren\ 139@2x.png);
	background-size: 1920px 700px;
}

.frau {
	position: absolute;
	top: 114px;
	left: 633px;
	width: 970px;
	height: 700px;
	opacity: 1;
}

.text {
	position: absolute;
	left: 275px;
	top: 217.3px;
	font-family: "bold";
}

.text h6 {
	text-transform: uppercase;
	color: var(--R);
	font-size: 18px;
	margin-bottom: 5px;
}

.text h1 {
	margin-top: 5px;
	text-transform: uppercase;
	color: var(--S);
	font-size: 60px;
}

.KOLLEKTION-btn {
	position: relative;
	margin-top: 5px;
	background-color: var(--R);
	text-align: center;
	width: 240px;
	height: 40px;
	border: none;
}

.KOLLEKTION-btn a {
	text-decoration: none;
	font-family: "bold";
	font-size: 18px;
	color: var(--W);
}

.strich {
	position: absolute;
	top: 754px;
	left: 279px;
	width: 30px;
	height: 0px;
	border: 3px solid var(--R);
	border: 3px solid #F97365;
	opacity: 1;
}

.boxen-f-m {
	height: 800px;
}

.blau-box {
	display: flex;
	flex-direction: column;
	align-items: center;
	position: absolute;
	width: 341px;
	height: 341px;
	top: 783px;
	left: 278px;
	background-color: var(--BG);
}

.btn-box {
	position: absolute;
	width: 299px;
	height: 45px;
	border: none;
	left: 21px;
	bottom: 21px;
}

.flachcaps {
	text-decoration: none;
	font-family: "bold";
	font-size: 18px;
	color: var(--BG);
}

.btn-box a {
	text-decoration: none;
	font-family: "bold";
	font-size: 18px;
	color: var(--R);
}

.rot-box {
	position: absolute;
	width: 341px;
	height: 341px;
	top: 783px;
	left: 619px;
	background-color: var(--R);
}

.text-box {
	position: absolute;
	top: 883px;
	left: 1028px;
	width: 352px;
	height: 63px;
}

.text-box h1 {
	margin-top: 5px;
	font-size: 30px;
	font-family: "bold";
}

.text-box p {
	margin-top: 5px;
	font-size: 15px;
	font-family: "regular";
	width: 343px;
}

.btn-box1 {
	margin-top: 5px;
	text-decoration: none;
	font-family: "bold";
	font-size: 18px;
	color: var(--S);
	border-bottom: 1px solid var(--R);
}

.gold1 {
	position: absolute;
	bottom: 20px;
	right: 20px;
	width: 70px;
	height: 70px;
}

.dhl {
	position: absolute;
	top: 1307px;
	left: 278px;
	width: 113px;
	height: 16px;
}

.bild1 {
	position: absolute;
	top: 1305px;
	left: 526px;
	width: 92px;
	height: 24px;
}

.bild2 {
	position: absolute;
	top: 1306px;
	left: 687px;
	width: 79px;
	height: 18px;
}

.bild3 {
	position: absolute;
	top: 1297px;
	left: 851px;
	width: 46px;
	height: 36px;
}

.bild4 {
	position: absolute;
	top: 1304px;
	left: 982px;
	width: 72px;
	height: 22px;
}

.bild5 {
	position: absolute;
	top: 1309px;
	left: 1142px;
	width: 97px;
	height: 12px;
}

.bild6 {
	position: absolute;
	top: 1309px;
	left: 1330px;
	width: 102px;
	height: 12px;
}

.bild7 {
	position: absolute;
	top: 1309px;
	left: 1523px;
	width: 119px;
	height: 12px;
}

.Kontakt h2 {
	position: absolute;
	top: 1424px;
	left: 278px;
	width: 90px;
	height: 22px;
	font-size: 18px;
	color: var(--S);
	font-family: "bold";
	margin-bottom: 10px;
	text-transform: uppercase;
}

.Kontakt p {
	font-size: 18px;
	font-family: "bold";
	color: var(--S);
	position: absolute;
	top: 1469px;
	left: 305px;
}

.Kontakt p1 {
	position: absolute;
	font-size: 13px;
	font-family: "regular";
	top: 1492px;
	left: 306px;
}

.Kontakt .tel {
	position: absolute;
	top: 1471px;
	left: 278px;
	width: 16px;
	height: 16px;
}

.Kontakt .mail {
	position: absolute;
	top: 1542px;
	left: 278px;
	width: 19px;
	height: 13px;
}

.Kontakt p2 {
	position: absolute;
	top: 1536px;
	left: 305px;
	width: 183px;
	height: 22px;
	font-size: 18px;
	font-family: "bold";
	color: var(--S);
}

.line {
	position: absolute;
	top: 1424px;
	left: 607px;
	width: 0px;
	height: 527px;
	border: 1px solid var(--BG);
}

.kundenservice-list {
	border: none;
	position: absolute;
	top: 1685px;
	left: 278px;
	width: 203px;
	height: 236px;
}

.kundenservice-list h2 {
	font-size: 18px;
	color: var(--S);
	font-family: "bold";
	margin-bottom: 10px;
}

.kundenservice-list ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
}

.kundenservice-list li {
	margin-bottom: 12px;
}

.kundenservice-list a {
	text-decoration: none;
	color: var(--S);
	font-size: 15px;
	font-family: "regular";
}
  /*kundenservice ende*/

    /*hut start*/
.hut-list {
	position: absolute;
	top: 1421px;
	left: 716px;
	width: 104px;
	height: 484px;
}

.hut-list h2 {
	font-family: "bold";
	font-size: 18px;
	color: var(--S);
	margin-bottom: 22.87px;
}

.hut-list ul {
	width: 104px;
	height: 484px;
	list-style-type: none;
}

.hut-list li {
	margin-bottom: 12px;
}

.hut-list a {
	text-decoration: none;
	color: var(--S);
	font-size: 15px;
	font-family: "regular";
}
    /*hut ende*/
    /*mütze start*/

.mütze-list {
	position: absolute;
	top: 1421px;
	left: 951px;
}

.mütze-list h2 {
	font-family: "bold";
	font-size: 18px;
	color: var(--S);
	margin-bottom: 22.87px;
}

.mütze-list ul {
	width: 172px;
	height: 360px;
	list-style-type: none;
}

.mütze-list li {
	margin-bottom: 12px;
}

.mütze-list a {
	text-decoration: none;
	color: var(--S);
	font-size: 15px;
	font-family: "regular";
}

    /*mütze ende*/

    /*caps start*/
.caps-list {
	position: absolute;
	top: 1421px;
	left: 1216px;
}

.caps-list h2 {
	font-family: "bold";
	font-size: 18px;
	color: var(--S);
	margin-bottom: 22.87px;
}

.caps-list ul {
	width: 172px;
	height: 360px;
	list-style-type: none;
}

.caps-list li {
	margin-bottom: 12px;
}

.caps-list a {
	text-decoration: none;
	color: var(--S);
	font-size: 15px;
	font-family: "regular";
}

    /*caps ende*/

  /*Schals Start*/

.schals-list {
	position: absolute;
	top: 1421px;
	left: 1464px;
}

.schals-list h2 {
	font-family: "bold";
	font-size: 18px;
	color: var(--S);
	margin-bottom: 22.87px;
}

.schals-list ul {
	width: 172px;
	height: 360px;
	list-style-type: none;
}

.schals-list li {
	margin-bottom: 12px;
}

.schals-list a {
	text-decoration: none;
	color: var(--S);
	font-size: 15px;
	font-family: "regular";
}

   /*Schals ende*/


     /*hand Start*/

.hand-list {
	position: absolute;
	top: 1667px;
	left: 1216px;
}

.hand-list  h2 {
	font-family: "bold";
	font-size: 18px;
	color: var(--S);
	margin-bottom: 22.87px;
}

.hand-list  ul {
	width: 172px;
	height: 360px;
	list-style-type: none;
}

.hand-list  li {
	margin-bottom: 12px;
}

.hand-list  a {
	text-decoration: none;
	color: var(--S);
	font-size: 15px;
	font-family: "regular";
}

   /*hand ende*/

     /*themen Start*/
.themen-list {
	position: absolute;
	top: 1667px;
	left: 1464px;
}

.themen-list  h2 {
	font-family: "bold";
	font-size: 18px;
	color: var(--S);
	margin-bottom: 22.87px;
}

.themen-list  ul {
	width: 172px;
	height: 360px;
	list-style-type: none;
}

.themen-list  li {
	margin-bottom: 12px;
}

.themen-list  a {
	text-decoration: none;
	color: var(--S);
	font-size: 15px;
	font-family: "regular";
}

   /*hand ende*/



.up-btn {
	border: none;
	position: absolute;
	top: 1975px;
	left: 1746px;
	width: 60px;
	height: 60px;
	background-color: var(--R);
}

.up-btn i {
	color: var(--W);
}

.custom-footer {
	font-family: "regular";
	font-size: 13px;
	color: var(--W);
	height: 65px;
	background-color: var(--BG);
	padding: 10px;
	text-align: center;
}

.custom-footer a {
	text-decoration: none;
	color: var(--W);
}